workflows/telegram-search-subworkflow.json
{
  "name": "Telegram 1 sub workflow search",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"test search query\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fba7d512-c7c1-4e0f-b385-88f5f9e755b5",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful research agent.\nyou use your tools to search the web , you have access to hackernews, wikipedia, serpAPI, use them as you need."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "72f93ddb-0e44-40f2-879a-f98cd92d565c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4-turbo",
          "mode": "list",
          "cachedResultName": "gpt-4-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "eb087d75-e457-42c0-a3ea-2903b890af28",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YW2pivIEki4OfIAx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "50ac1962-794d-4ec2-ac0e-92688a9c8bcb",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {
          "tags": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tags', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "id": "8001efe2-4b90-4aa2-a1fc-b6723cb533ad",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query__q_', ``, 'string') }}",
        "location": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location__location_', ``, 'string') }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        464,
        416
      ],
      "id": "1cf37091-39f0-42d0-932a-39fcfe5ee958",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "GfWtmio2P2Wxt6A0",
          "name": "SerpApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b593ed98-9e4f-4182-b30c-d218a7d1a653",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83539719ee2a09e0d94d2cadadf9420469cafe07e3a2282efad782e4d9377a28"
  },
  "id": "okWwkXkfFahGr7UW",
  "tags": []
}