workflows/telegram-assistant.json
{
  "name": "Telegram 1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -176
      ],
      "id": "ab34a0a1-c849-4256-a102-58f0da7a08c0",
      "name": "Telegram Trigger",
      "webhookId": "93f7bca4-1573-42a5-850b-2d809e6cdd14",
      "credentials": {
        "telegramApi": {
          "id": "fiJn148LaxOFFmc8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n#you have tools:\n\n##searh_agent\nuse this tool to search web,wikipedia and hackernews\n\nKeep Telegram replies under 3000 characters.\nBe concise unless the user asks for detail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -160
      ],
      "id": "6ccac085-91e3-4913-ae94-561946347583",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        48
      ],
      "id": "0b3e85c2-3d28-41cf-8f1e-5bd03a6c0802",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YW2pivIEki4OfIAx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        -160
      ],
      "id": "a634bfb5-4633-474c-9bb9-1e5f97cee824",
      "name": "Send a text message",
      "webhookId": "2b903968-1f15-4fc2-99ed-ed277969d842",
      "credentials": {
        "telegramApi": {
          "id": "fiJn148LaxOFFmc8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        48,
        48
      ],
      "id": "cdae1388-73c9-46ee-8780-edd993caa0b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "You have access to a tool called search_agent.\n\nWhenever the user asks about:\n- current events\n- news\n- web searches\n- Wikipedia information\n- up-to-date information\n\nALWAYS use the search_agent tool first before answering.",
        "workflowId": {
          "__rl": true,
          "value": "okWwkXkfFahGr7UW",
          "mode": "list",
          "cachedResultUrl": "/workflow/okWwkXkfFahGr7UW",
          "cachedResultName": "Telegram 1 sub workflow search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        192,
        48
      ],
      "id": "d8d3ba02-a444-4986-8e50-b5f390e3d115",
      "name": "search_agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "060eca13-0482-4cd2-830e-628042b97351",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83539719ee2a09e0d94d2cadadf9420469cafe07e3a2282efad782e4d9377a28"
  },
  "id": "w1iG5tcl2Mt67QJh",
  "tags": []
}