workflows/whatsapp-automation.json
{
  "name": "whatsapp automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -160
      ],
      "id": "89d39ee0-5518-4263-a513-b10f86783acc",
      "name": "WhatsApp Trigger",
      "webhookId": "a36965c2-6d8b-4024-ba05-a2bc1bacc8d2",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "qFNKqvXa3PS5E85H",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are John's personal assistant on WhatsApp.\n\nYou can:\n- Answer normal questions directly.\n- Use Wikipedia when the user asks for factual/background information.\n- Use the email tool only when the user clearly asks you to send or draft an email.\n\nRules:\n- If the user asks to send an email, ask for missing recipient, subject, or message if needed.\n- Never send an email without clear confirmation.\n- Keep WhatsApp replies short and natural.\n- If you use Wikipedia, summarize the answer in simple language.\n- If a tool fails, explain briefly and ask the user to try again.\n\n##time and date: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -160
      ],
      "id": "eb3ecdf3-8004-4855-8052-bcf07f8c5fb9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        80
      ],
      "id": "20f07f1b-25eb-4df9-bfba-78f25f16a36e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YW2pivIEki4OfIAx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        48,
        80
      ],
      "id": "552fe010-1254-4a31-ba34-37b724b3bda1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1151337608062903",
        "recipientPhoneNumber": "+4917684894407",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        288,
        -160
      ],
      "id": "f98ed70f-409a-4e39-bc73-ac60a775e194",
      "name": "Send message",
      "webhookId": "9864aff6-9818-45ee-a6bf-1eff0f613604",
      "credentials": {
        "whatsAppApi": {
          "id": "IPmsYpuxVVlj7YeA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        304,
        48
      ],
      "id": "3b6f1996-5ec5-4b90-87be-eebff16c2fc9",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        192,
        96
      ],
      "id": "6f03781d-53f6-4a35-9a43-a256f72d3831",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        240,
        192
      ],
      "id": "feaaeb46-da7d-4f25-a2fb-6d65b5e743a3",
      "name": "Send a message in Gmail",
      "webhookId": "98df312d-a236-4966-be1a-265fb9aa96bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "P1eBVj7bNiZbeyhh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fbf374c7-3e13-4aab-b7dc-9a0fde7d5086",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83539719ee2a09e0d94d2cadadf9420469cafe07e3a2282efad782e4d9377a28"
  },
  "id": "yWH8jQl39k6bbE7J",
  "tags": []
}